---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="HanimMY">
	<div class="terminal__skills">
		<h2>My skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/cplusplus.svg`}
				color="#00599C"
				name="C++"
			/>
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/python.svg`}
				color="#3776AB"
				name="Python"
			/>
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/github.svg`}
				color="#F0F0F0"
				name="GitHub"
			/>
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/mongodb.svg`}
				color="#47A248"
				name="MongoDB"
			/>
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/flutter.svg`}`
				color="#02569B"
				name="Flutter"
			/>
			<TerminalIcon
				src={`${import.meta.env.BASE_URL}/assets/react.svg`}
				color="#61DAFB"
				name="React"
			/>
			<!-- <TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
			
			<TerminalIcon src="/assets/bun.svg" color="#F3CBC2" name="Bun" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="Electron"
			/> -->
		</div>
	</div>
</Terminal>
